#section-1 {
    display: flex;
    justify-content: space-between;
    margin: 20px 180px;  
}
.section-1_info{
    width: 30%;
}
.section-1_info p {
    color: #454868;
}
.section-1__card {
    box-shadow: 0px 0px 20px 10px #45486835;
    border-radius: 48px;
    padding: 25px;
    height: 195px;
    width: min-content;
    text-align: center;
}
.section-1__card-down{
 margin-top:  45px;
}
h3 {
    font-family: 'Jost';
}
